<footer class="footer is-centered" style="padding-bottom:3rem;">
    <div class="content has-text-centered">
        <p class="copyright">&copy; {{date format="YYYY"}} <a href="{{@site.url}}"><strong class="has-text-grey-darker">{{@site.title}}</strong></a></p>
        <p class="declare has-text-grey">
            <script>
                if (typeof footer_text == 'undefined') {
                    var footer_text = "{{@site.description}}";
                };
            </script>
            <script>
                document.write(footer_text);
            </script>
            <br>Using <a href="https://fizzy.cc/fizzy-theme/" target="_blank" rel="noopener noreferrer"><strong>The Fizzy Theme</strong> v1.3.0 </a> | Published with <a href="https://ghost.org/" target="_blank" rel="noopener noreferrer"><strong>Ghost</strong></a>
        </p>
        <p><a class="copyright" href="http://www.miit.gov.cn/" target="_blank" rel="noopener nofollow">沪ICP备2020029228号-1</a>
            <img src="{{asset 'images/beian.png'}}" />
            <a class="copyright" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011502016830" target="_blank"
                rel="noopener nofollow">沪公网安备31011502016830号</a>
        </p>
        <p class="declare has-text-grey">
            <span id="busuanzi_container_site_pv">
                本站总访问量<span id="busuanzi_value_site_pv"></span>次
            </span>
            <span id="busuanzi_container_site_uv">
                本站访客数<span id="busuanzi_value_site_uv"></span>人次
            </span>
        </p>
    </div>
</footer>